In [85]:
import pandas as pd
def emi(amount ,year,interest_rate):
    interest_rate = interest_rate/100
    month = year * 12
    monthly_rate = interest_rate/12
    monthly_multiplier = 1+monthly_rate
    emi_amount = amount* monthly_rate *((monthly_multiplier**month)/(monthly_multiplier**month-1))
    return emi_amount
def amortization_table(amount,year,interest_rate):
    month = year*12
    data = pd.DataFrame(columns = ['month','emi','interest','principle','balance'])
    data['month'] = range(1,month)
    data['emi'] = emi(amount,year,interest_rate)
    for i in range(month):
        print(data.loc[i])
        
amortization_table(300000,20,5)

month                  1
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 0, dtype: object
month                  2
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 1, dtype: object
month                  3
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 2, dtype: object
month                  4
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 3, dtype: object
month                  5
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 4, dtype: object
month                  6
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 5, dtype: object
month                  7
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 6, dtype: object
month                  8
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 7, dtype: object
month                  9
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 8, dtype: object
month                 10
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 9, dtype: object
month                 11
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 10, dtype: object
month                 12
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 11, dtype: object
month                 13
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 12, dtype: object
month                 14
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 13, dtype: object
month                 15
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 14, dtype: object
month                 16
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 15, dtype: object
month                 17
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 16, dtype: object
month                 18
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 17, dtype: object
month                 19
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 18, dtype: object
month                 20
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 19, dtype: object
month                 21
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 20, dtype: object
month                 22
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 21, dtype: object
month                 23
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 22, dtype: object
month                 24
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 23, dtype: object
month                 25
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 24, dtype: object
month                 26
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 25, dtype: object
month                 27
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 26, dtype: object
month                 28
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 27, dtype: object
month                 29
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 28, dtype: object
month                 30
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 29, dtype: object
month                 31
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 30, dtype: object
month                 32
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 31, dtype: object
month                 33
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 32, dtype: object
month                 34
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 33, dtype: object
month                 35
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 34, dtype: object
month                 36
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 35, dtype: object
month                 37
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 36, dtype: object
month                 38
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 37, dtype: object
month                 39
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 38, dtype: object
month                 40
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 39, dtype: object
month                 41
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 40, dtype: object
month                 42
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 41, dtype: object
month                 43
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 42, dtype: object
month                 44
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 43, dtype: object
month                 45
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 44, dtype: object
month                 46
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 45, dtype: object
month                 47
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 46, dtype: object
month                 48
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 47, dtype: object
month                 49
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 48, dtype: object
month                 50
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 49, dtype: object
month                 51
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 50, dtype: object
month                 52
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 51, dtype: object
month                 53
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 52, dtype: object
month                 54
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 53, dtype: object
month                 55
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 54, dtype: object
month                 56
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 55, dtype: object
month                 57
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 56, dtype: object
month                 58
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 57, dtype: object
month                 59
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 58, dtype: object
month                 60
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 59, dtype: object
month                 61
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 60, dtype: object
month                 62
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 61, dtype: object
month                 63
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 62, dtype: object
month                 64
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 63, dtype: object
month                 65
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 64, dtype: object
month                 66
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 65, dtype: object
month                 67
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 66, dtype: object
month                 68
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 67, dtype: object
month                 69
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 68, dtype: object
month                 70
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 69, dtype: object
month                 71
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 70, dtype: object
month                 72
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 71, dtype: object
month                 73
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 72, dtype: object
month                 74
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 73, dtype: object
month                 75
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 74, dtype: object
month                 76
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 75, dtype: object
month                 77
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 76, dtype: object
month                 78
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 77, dtype: object
month                 79
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 78, dtype: object
month                 80
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 79, dtype: object
month                 81
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 80, dtype: object
month                 82
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 81, dtype: object
month                 83
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 82, dtype: object
month                 84
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 83, dtype: object
month                 85
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 84, dtype: object
month                 86
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 85, dtype: object
month                 87
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 86, dtype: object
month                 88
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 87, dtype: object
month                 89
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 88, dtype: object
month                 90
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 89, dtype: object
month                 91
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 90, dtype: object
month                 92
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 91, dtype: object
month                 93
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 92, dtype: object
month                 94
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 93, dtype: object
month                 95
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 94, dtype: object
month                 96
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 95, dtype: object
month                 97
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 96, dtype: object
month                 98
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 97, dtype: object
month                 99
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 98, dtype: object
month                100
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 99, dtype: object
month                101
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 100, dtype: object
month                102
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 101, dtype: object
month                103
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 102, dtype: object
month                104
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 103, dtype: object
month                105
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 104, dtype: object
month                106
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 105, dtype: object
month                107
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 106, dtype: object
month                108
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 107, dtype: object
month                109
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 108, dtype: object
month                110
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 109, dtype: object
month                111
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 110, dtype: object
month                112
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 111, dtype: object
month                113
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 112, dtype: object
month                114
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 113, dtype: object
month                115
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 114, dtype: object
month                116
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 115, dtype: object
month                117
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 116, dtype: object
month                118
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 117, dtype: object
month                119
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 118, dtype: object
month                120
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 119, dtype: object
month                121
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 120, dtype: object
month                122
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 121, dtype: object
month                123
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 122, dtype: object
month                124
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 123, dtype: object
month                125
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 124, dtype: object
month                126
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 125, dtype: object
month                127
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 126, dtype: object
month                128
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 127, dtype: object
month                129
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 128, dtype: object
month                130
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 129, dtype: object
month                131
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 130, dtype: object
month                132
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 131, dtype: object
month                133
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 132, dtype: object
month                134
emi          1979.867218
interest             NaN
principle            NaN
balance              NaN
Name: 133, dtype: object

KeyError: 239

1250.0

In [61]:
(1+.5/12)**240/(1+.5/12)**239*1200

1250.0000000000005